<meta charset="utf-8">

<div
	ng-controller="ProductManufacturingProcessController as productManufacturing">
	<div class="message">产品工艺流程</div>
	<table>
		<tbody>
			<tr>
				<td>
					<table id="table-style">
						<tbody>
							<tr>
								<th style="min-width: 90px" class="labelformat">产品名称</th>
								<td style="min-width: 200px">{{productName}}</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td style="width:100%; vertical-align:bottom;">
					<div class="right-align">
						<button class="btn btn-large btn-primary"
							style="float: right; margin: 2px;" ng-click="backward()">
							<span class="glyphicon glyphicon-arrow-left"></span> 返 回
						</button>
						<button class="btn btn-large btn-primary"
							style="float: right; margin: 2px;" ng-click="saveProcesses()">
							<span class="glyphicon glyphicon-save"></span> 保存步骤
						</button>
						<button class="btn btn-large btn-primary"
							style="float: right; margin: 2px;" ng-click="addRow()">
							<span class="glyphicon glyphicon-plus"></span> 增加步骤
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<table style="width: 100%" id="table-style">
		<thead>
			<tr>
				<th style="width:85px">操作顺序</th>
				<th>操作</th>
				<th>原料</th>
				<th>操作内容</th>
				<th>剩余质量</th>
				<th>误差允许范围（%）</th>
				<th>编辑步骤</th>
			</tr>
		</thead>
		<tbody ui-sortable="sortableOptions" ng-model="model.rows"
			class="list">
			<tr ng-repeat="row in model.rows" ng-include="getTemplate(row)"
				class="item" style="cursor: move;">
			</tr>
		</tbody>
	</table>
	<script type="text/ng-template" id="display">
			  <td>{{$index + 1}}</td>
              <td>
				<select class="td-item" disabled
    				ng-model="row.operationId"
    				ng-options="value.id as value.name for value in operations">
				</select>
      	      </td>	
              <td>
                <select class="td-item" disabled
    				ng-model="row.materialId"
    				ng-options="value.id as value.name for value in materials">
				</select>
              </td>
			  <td>{{row.materialQuantity}}</td>
			  <td>{{row.remainingQuantity}}</td>
			  <td>{{row.errorRange}}</td>
			  <td>
            	<button ng-click="editContact($index)">编辑</button>
				<button ng-click="removeRow($index)">删除</button>
       		  </td>
		</script>
	<script type="text/ng-template" id="editMaterial">
        	<td>{{$index + 1}}</td>
			<td>
				<select class="td-item"
    				ng-model="row.operationId"
    				ng-options="value.id as value.name for value in operations">
				</select>
      	      </td>	
              <td>
                <select class="td-item"
    				ng-model="row.materialId"
    				ng-options="value.id as value.name for value in materials">
				</select>
              </td>
            <td><input type="text" ng-model="model.selected.materialQuantity" /></td>
			<td>{{row.remainingQuantity}}</td>
			<td><input type="text" ng-model="model.selected.errorRange" /></td>
        	<td>
            	<button ng-click="saveContact($index)">完成</button>
            	<button ng-click="reset()">取消</button>
        	</td>
    	</script>
	<script type="text/ng-template" id="editOp">
        	<td>{{$index + 1}}</td>
			<td>
				<select class="td-item"
    				ng-model="row.operationId"
    				ng-options="value.id as value.name for value in operations">
				</select>
      	      </td>	
              <td></td>
            <td><input type="text" ng-model="model.selected.materialQuantity" /></td>
			<td></td>
        	<td>
            	<button ng-click="saveContact($index)">完成</button>
            	<button ng-click="reset()">取消</button>
        	</td>
    	</script>
</div>
