<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="ProductListController as productList">
		<table>
			<tbody>
				<tr>
					<td style="width:95%">
						<table id="table-style">
							<tr>
								<th>产品类名</th>
								<td>{{productCategoryName}}</td>
							</tr>
						</table>
					</td>
					<td style="float:right">
						<div class="right-align">
							<button class="btn btn-large btn-primary" style="float:right;"
								ng-click="productList.productCreate()">
								<span class="glyphicon glyphicon-plus"></span> 新增产品
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	<div>
		<table datatable="ng" dt-options="productList.dtOptions"
			dt-column-defs="productList.dtColumnDefs" id="table-style">
			<thead>
				<tr>
					<th style="width:40px">序号</th>
					<th style="width:20%;">产品名称</th>
					<th style="width:20%;">产品编号</th>
					<th style="width:26%;">产品描述</th>
					<th style="width:8%;">查看/修改</th>
					<th style="width:7%">定价</th>
					<th style="width:7%">配方</th>
					<th style="width:8%">生产工艺</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in productList.products">
				<td style="text-align: center;">{{$index+1}}</td>	
				<td>{{product.name}}</td> 
				<td>{{product.code}}</td>
				<td>{{product.description}}</td>
				
					<td style="text-align: center;">
						<button type="button" ng-click="productList.updateProduct($index)"
							class="btn btn-warning">
							<i class="fa fa-edit"></i>
						</button>
					</td>
					<td style="text-align: center;">
						<button type="button"
							ng-click="productList.updateProductPrice($index)"
							class="btn btn-warning">
							<i class="fa fa-usd"></i>
						</button>
					</td>
					<td style="text-align: center;">
						<button type="button"
							ng-click="productList.updateFormula($index)"
							class="btn btn-warning">
							<i class="fa fa-list"></i>
						</button>
					</td>
					<td style="text-align: center;">
						<button type="button"
							ng-click="productList.updateManufacturingProcess($index)"
							class="btn btn-warning">
							<i class="fa fa-list"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>