<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="@Xxx@ListController as @Xxx@List">
	<div class="right-align">
		<button class="custombutton" ng-click="@Xxx@List.create@Xxx@()">
			<span class="glyphicon glyphicon-new"></span> 新增原料
		</button>
	</div>
	<table datatable="ng" dt-options="@Xxx@List.dtOptions"
		dt-column-defs="@Xxx@List.dtColumnDefs" class="row-border hover" id="table-style">
		<thead>
			<tr>
				<th style="width:25%">名称</th>
				<th>描述</th>
				<th style="width:100px">编辑</th>
				<th style="width:100px">编辑</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="@xxx@ in @Xxx@List.@xxx@s">
			   <td>{{@xxx@.name}}</td>
			   <td>{{@xxx@.description}}</td>
				<td>
					<button type="button"
						ng-click="@Xxx@List.update@Xxx@($index)"
						class="btn btn-warning">
						<i class="fa fa-edit"></i>
					</button>
				</td>
				<td>
					<button type="button"
						ng-click="@Xxx@List.delete@Xxx@($index)"
						class="btn btn-danger">
						<i class="fa fa-times"></i>
					</button>					
				</td>
			</tr>
		</tbody>
	</table>
</div>