<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="DeviceAttributeListController as deviceAttributeList">
	<div class="right-align">
		<button class="btn btn-large btn-primary" style="float:right;"
			ng-disabled="hasPermission('2-33333')" ng-click="deviceAttributeList.createDeviceAttribute()"> 
			<span class="glyphicon glyphicon-plus"></span> 新增设备属性
		</button>
	</div>
	<table datatable="ng" dt-options="deviceAttributeList.dtOptions"
		dt-column-defs="deviceAttributeList.dtColumnDefs" class="row-border hover" id="table-style">
		<thead>
			<tr>
				<th style="width:6%">序号</th>
				<th style="width:30%">名称</th>
				<th style="width:10%">编码</th>
				<th style="width:15%">类别</th>
				<th style="width:20%">描述</th>
				<th style="width:10%">编辑/删除</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="deviceAttribute in deviceAttributeList.deviceAttributes">
			   <td style="width:45px; text-align: center;">{{$index+1}}</td>
			   <td>{{deviceAttribute.name}}</td>
			   <td style="text-align: center;">{{deviceAttribute.code}}</td>
			   <td style="text-align: center;">{{deviceAttribute.deviceAttributeCategory.name}}</td>
			   <td>{{deviceAttribute.description}}</td>
				<td>
					<button type="button"
						ng-click="deviceAttributeList.updateDeviceAttribute($index)"
						class="btn btn-warning">
						<i class="fa fa-edit"></i>
					</button>
					<button type="button"
						ng-click="deviceAttributeList.deleteDeviceAttribute($index)"
						class="btn btn-danger">
						<i class="fa fa-times"></i>
					</button>					
				</td>
			</tr>
		</tbody>
	</table>
</div>